<!DOCTYPE html>
<html>


<body>
    <space>
   		 <div  class="process-block ">
	    	<h2> PROBLEM SPACE </h2>
	    	<div>
				<h3> Problem space graph </h3>
					<a href="/figures/problem_space.png" target="_blank" >
						<img  class="img-fluid center"  src="/figures/problem_space.png"></img>
					</a>
				<h3> Concept lattice </h3>
					<a href="/figures/concept_lattice.png" target="_blank" >
						<img  class="img-fluid"   src="/figures/concept_lattice.png"></img>
					</a>
			</div>
		</div>
    </space>
</body>

</html>