<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">...</head>

<body>

	<div class="page">
		<div th:replace="fragments/header :: header">header</div>
		<div class="content container-fluid">
			<div style="padding-bottom:30px;">
				<a href="/index.html">
				<button type="button" class="btn btn-primary d-inline-flex justify-content-center align-content-between">
					<span class="material-icons icon-padding">refresh</span>
					Use another input context
				</button>
				</a>
			</div>
			
			<div class="row">
				<div class="col-9">
					<div class="box-left overflow-auto shadow-lg p-3 mb-5 bg-white rounded">
						<div th:replace="fragments/context :: context">this is the problem context</div>
						<div th:replace="fragments/pb-space :: pb-space">this is the problem space</div>
						<div th:replace="fragments/representations :: representations">this is the problem representations</div>
						<div th:replace="fragments/concept-lattice :: concept-lattice">this is the concept lattice</div>
					</div>
				</div>
				<form class="col-3 actions-menu" method="post" action="#" th:action="@{/sort/action}">
				
						<div class="actions-menu-title">Problem space</div>
						
						<div class="btn-toolbar mb-3" role="toolbar">
							<div class="input-group">
							    <div class="input-group-prepend">
						      		<div class="input-group-text" id="btnGroupAddon">IDs</div>
						    	</div>
								<input type="text" name="representationIDs" class="form-control" placeholder="IDs separated by commas" aria-label="IDs separated by commas" aria-describedby="btnGroupAddon">
							</div>		
						</div>
						<div class="btn-toolbar mb-3" role="toolbar">
							<div class="btn-group mr-2" role="group" aria-label="First group">
								<input type="hidden" name="action" value="submit" />
							    <button id="develop-submit" type="submit" name="submit" value="develop" data-toggle="tooltip" data-placement="bottom" title="Develop the selected representations in the left panel" class="btn btn-primary">Develop</button>
							    <button id="restrict-submit"  type="submit" name="submit" value="restrict" data-toggle="tooltip" data-placement="bottom" title="Restrict the problem space to the selected representations" class="btn btn-primary">Restrict</button>
							</div>
						</div>
						
						<div class="btn-toolbar mb-3" role="toolbar">
							<div class="btn-group mr-2" role="group" aria-label="Second group">
								<input type="hidden" name="action" value="submit" />
							    <button id="fully-expand-submit"  type="submit" name="submit" value="fully-expand" data-toggle="tooltip" data-placement="bottom" title="WARNING : may result in program freeze if problem space is too large" class="btn btn-primary">Fully expand</button>
							</div>	
						</div>
						
						<div class="actions-menu-title">Representations</div>						
						
					    <div class="btn-toolbar mb-3" role="toolbar">
						  <div class="input-group">
						    <div class="input-group-prepend">
						      <div class="input-group-text" id="btnGroupAddon">ID</div>
						    </div>
						    <input type="text" name="representation" class="form-control" placeholder="ID of the representation" aria-label="ID of the representation" aria-describedby="btnGroupAddon">
						  </div>
						  <button id="display-representation-submit" type="submit" name="submit" value="display-representation" data-toggle="tooltip" data-placement="bottom" title="Display the selected representation in the left panel" class="btn btn-primary">Display</button>
						</div>							   
  				
				</form>
			</div>
			</div>
		<div th:replace="fragments/footer :: footer">footer</div>
	</div>

</body>

</html>